<div class="contact-list-small-item">
  <div class="contact-list-small-img">
    <%= link_to image_tag(contact.photo.url() , :border=>0), profile_url(contact.user_id) %>
  </div>
  <div class="contact-list-small-text">
    <div class="contact-list-small-username"><%= link_to(contact.full_name, profile_url(contact.user_id)) %></div>
    <div class="contact-list-small-title"><%= contact.company %></div>
  </div>
  <div class="clear"><!-- clear --></div>
</div>