<h1>About HELLOWORLD</h1>

<p>"HelloWorld" is supposed to be a real-world example Web application
  that's simple, yet complex
  enough to be meaningful.</p>

<p>There are various implementations, all with more or less identical
  functionality. While some conclusions can be drawn from the
  differences in implementations' development and runtime
  productivity, it's not intended as a shootout of different
  languages, environments or frameworks. Instead, it's supposed to
  show how something that makes some sense can be implemented using
  the respective environments' idiomatic approaches.</p>
